.article_title{
	font-family: "微软雅黑";
	font-size: 20px;
	width: 100%;
	text-align: center;
	font-weight: 700;
}
.back_list{
	border-bottom: 1px #a0a0a0 dashed;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
.back_list a{
	display: inline-block;
	font-size: 14px;
	color: #0098b3;
	font-family: "微软雅黑";
	float: right;
}
.about_writer{
	overflow: hidden;
}
.about_writer span{
	float: right;
	width: 220px;
	margin-top: 25px;
	line-height:30px;
	font-size: 14px;
	display: inline-block;
	text-align: center;
}
/*文章正文部分*/
.article_text{
	word-break: break-all;
	/*text-indent: 30px;*/
	color: #a8a8a8;
	font-size: 14px;
	line-height: 25px;
}


/*页数*/
.page{
	overflow: hidden;
	margin-top: 30px;
}
.page ul{
	float: right;
	margin-right: 100px;
}
.page ul li{
	float: left;
	border: 1px #e7e7e7 solid;
	height: 27px;
	text-align: center;
	line-height: 27px;
	color: #666666;
	margin: 0 5px 0 5px;
}
.page ul li:hover{
	cursor: pointer;
}
.page_num{
	width:30px ;
}
.page_left,.page_right{
	width: 60px;
}