*{
	font-family: "微软雅黑";
}

/*选项卡标题*/
.TAB_title{
	overflow: hidden;
}
.TAB_title p{
	text-align: center;
	border: 1px #0098b3 solid;
	float: left;
	width: 150px;
	height: 35px;
	line-height: 35px;
	margin-right: 15px;
}
.TAB_title p:hover{
	cursor: pointer;
}
.left_part1{
	border: 1px #83e3f4 solid;
	width: 650px;
}
/*选项卡内容*/
.TAB_text{
	width: 600px;
	margin: 0 auto;
	margin-top: 20px;
}
.TAB_text_title{
	height: 40px;
	line-height: 40px;
	border-bottom: 2px#dcdcdc solid;
}
.TAB_text_title span{
	color: #47b8cc;
	font-size: 20px;
	font-weight: 700;
}
.TAB_text_title{
	font-size: 16px;
	color: #47b8cc;	
	font-weight: 700;
}
.TAB_text_text{
	background: #e6f9fd;
	width: 100%;
	
	margin: 13px auto;
	overflow: hidden;
}
.TAB_text_text>img{
	float: left;
}
.TAB_text_textRight{
	float: left;
	width: 500px;
	padding: 10px 10px 10px 15px;
}
.TAB_text_textRight>p{
	color: #6088d7;
	font-size: 16px;
	line-height:25px;
	height: 30px;
}
.TAB_text_textRight>div{
	color: #666666;
	font-size: 14px;
	overflow: hidden;
}
.TAB_text_textRight>div p{
	/*line-height: 30px;*/ 
	margin-right: 30px;
	float: left;
}
.TAB_text_textRight>div img{
	float: left;
	margin-top: 10px;
	margin-left:150px;
}
.TAB_text_textRight>div span{
	display: block;
	float: right;
	margin-top: 8px;
	margin-right: 10px;
}
.TAB_text_textRight>div span:hover{
	cursor: pointer;
}
.TAB_text_textRight>div img:hover{
	cursor: pointer;
}
/*提问框*/
.left_part2{
	margin-top:30px;
	margin-bottom: 50px;
}
.ask_title{
	overflow: hidden;
}
.ask_title button{
	width: 95px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	background:#8c97cb ;
	color: white;
	font-size: 16px;
	font-weight: 700;
	float: left;
}
.ask_title img{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
.ask_title p{
	float: left;
	height: 40px;
	line-height: 40px;
	width: 500px;
	margin-left: 20px;
}
.ask_title p span{
	margin: 0 10px 0 0px;
	display: inline-block;	
	width: 100px;
	text-align: center;
	overflow: hidden;
	word-wrap: normal;
	text-overflow: ellipsis;
	color: #666666;
	height: 25px;
	line-height: 25px;
	margin-top: 8px;
}
.ask_text textarea{
	width: 630px;
	border-radius: 5px;
	resize: none;
	padding: 10px;
	height: 160px;
	border: 1px #dcdcdc solid;
}
.number_limit{
	overflow: hidden;
	margin-top: 15px;
}
.number_limit p{
	float: left;
	color: #a3a3a3;
	font-size: 14px;
	font-weight: 700;
}
.number_limit p span{
	color: #F55E5E;
}
.number_limit button{
	float: right;
	width: 95px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	background:#8c97cb ;
	color: white;
	font-size: 16px;
	font-weight: 700;
}
/*参与讨论*/
.join_discuss{
	margin-top: 30px;
}
.discuss_part1{
	background: #f3f2f2;
	padding: 10px 10px 5px 30px;
	margin:10px 0 10px 0 ;
}
.discuss_title{
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	border-bottom: 1px dashed #d2d2d2;
}
.discuss_title img{
	float: left;
	margin-top: 12px;
}
.discuss_title p{
	float: left;
	margin-left: 10px;
}
.discuss_text{
	 color: #666666;
	 font-size: 12px;
	 line-height: 20px;
}
.question{
	overflow: hidden;
}
.question img{
	float: left;
	margin-top: 3px;
}
.question p{
	width: 250px;
	float: left;
}
.answer{
	margin-top: 20px;
	overflow: hidden;
}
.answer img{
	float: left;
	margin-top: 3px;
}
.answer p{
	width: 250px;
	float: left;
}
.expert_contact{
	margin-top: 15px;
	overflow: hidden;
	height: 30px;
}
.expert_contact img{
	float: left;
}
.expert_contact p a{
	color: #5c9ad5;
	font-weight: 700;
	font-size: 12px;
	float: left;
	margin-left: 5px;
}
.expert_contact button{
	float: right;
	margin-right: 20px;
	width: 60px;
	height: 23px;
	line-height:17px;
	color: white;
	font-size: 12px;
	background: #5c9ad5;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #355370;
}
.expert_contact button:hover{
	cursor: pointer;
}
/*右侧浮动二维码*/
.QR_code{
	width: 100px;
	height: 140px;
	border: 1px #cdcdcd solid;
	/*position: relative;
	top: -450px;
	left: 1380px;*/
}
.QR_code img{
	margin: 10px 0 0 8px;
}
.QR_code p{
	height: 40px;
	font-size: 13px;
	text-align: center;
	color: #497fcf;
	line-height: 40px;
	border-top: 1px #cdcdcd solid;
	box-shadow: 0 1px 1px #5a5a5a;
}


/*页数*/
.page{
	overflow: hidden;
	margin-top: 30px;
}
.page ul{
	float: right;
	margin-right: 100px;
}
.page ul li{
	float: left;
	border: 1px #e7e7e7 solid;
	height: 27px;
	text-align: center;
	line-height: 27px;
	color: #666666;
	margin: 0 5px 0 5px;
}
.page ul li:hover{
	cursor: pointer;
}
.page_num{
	width:30px ;
}
.page_left,.page_right{
	width: 60px;
}
