.introduce_banner_btn{
	/*border: 1px red solid;*/
	
}
/*banner按钮*/''
.introduce_btn{
	overflow: hidden;
}
/*左边的按钮*/
.apply{
	background-color: #5fc8da;
	width: 114px;
	height: 42px;
	border-radius:5px;
	box-shadow: 1px 2px  1px #0b525e;
	overflow: hidden;
	position: relative;
	top: -62px;
	left: 700px;
	
}
.apply:hover{
	cursor: pointer;
}
.apply input:hover{
	cursor: pointer;
}
.apply img{
	float: left;
	margin-top: 13px;
	margin-left: 10px;
}
.apply input{
	display: inline-block;
	background: none;
	color: white;
	font-size: 18px;
	font-family: "微软雅黑";
	line-height: 42px;
}
/*右边的按钮*/
.audition{
	background-color: #ff934c;
	width: 114px;
	height: 42px;
	border-radius:5px;
	box-shadow: 1px 2px  1px #7f5539;
	overflow: hidden;
	position: relative;
	top: -105px;
	left: 820px;
}
.audition:hover{
	cursor: pointer;
}
.audition input:hover{
	cursor: pointer;
}
.audition img{
	float: left;
	margin-top: 13px;
	margin-left: 10px;
}
.audition input{
	display: inline-block;
	background: none;
	color: white;
	font-size: 18px;
	font-family: "微软雅黑";
	line-height: 42px;
}
/*菜单栏按钮*/
.main_btn{
	/*border: 1px red solid;*/
	width: 100%;
	overflow: hidden;
	margin-top: 12px;
}
.main_btn a{
	display: block;
	width: 160px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: white;
	font-size: 16px;
	float: left;
	margin-right: 3px;
	background-color:#47b8cc ;
}

/*课程介绍*/
.class_information{
	width: 625px;
	margin-left: 20px;
	margin-top: 30px;
}
.information_title{
	color: #47B8CC;
	font-size: 18px;
	font-weight: 700;
	height: 30px;
	line-height: 30px;
	border-bottom:1px #47b8cc solid ;
}
/*课程信息*/
.class_text{
	overflow: hidden;
	margin-top: 20px;
}
/*课程信息左边内容*/
.class_text_left{
	float: left;
}
.class_text_left p{
	width:250px;
	height: 30px;
	line-height: 30px;
	font-family: "微软雅黑";
	color: #666666;
	font-size: 14px;
	font-weight: 700;
}
.class_text_left p img{
	float: left;
	margin: 3px 10px 0 0;
}
.text_days,.text_price,.text_private{
	color: #47B8CC;
}
.text_phone24h,.text_phonefree{
	margin-left: 28px;	
}
/*课程信息右边的内容*/
.class_text_right{
	float: left;
	margin-left: 50px;
}
.class_text_right_title{
	color: #666666;
	font-size: 16px;
	font-weight: 800;
	height: 40px;
	line-height: 40px;
}
.class_text_right ul{
	margin-top: 10px;
}
.class_text_right li{
	margin-left: 20px;
	height: 30px;
	line-height: 30px;
	color: #666666;
	list-style-type: initial;
}
.class_text_right li span{
	display: inline-block;
	margin-right: 20px;
}
.class_text_right li button{
	width: 75px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: white;
	background-color:#47B8CC ;
}
.class_text_right li button:hover{
	cursor: pointer;
}
/*课程介绍*/
.class_introduce{
	width: 625px;
	margin-left: 20px;
	margin-top: 30px;
}
.introduce_title{
	color: #47B8CC;
	font-size: 18px;
	font-weight: 700;
	height: 30px;
	line-height: 30px;
	border-bottom:1px #47b8cc solid ;
}
.class_introduce_text{
	margin-top: 20px;
	text-indent: 20px;
	width: 600px;
	color: #4b4a4a;
	line-height: 20px;
	font-size: 12px;
}
.class_introduce_main{
	background: url(../img/introduce/we_team.png) no-repeat;
}
/*学习收益*/
.earnings{
	overflow: hidden;
	margin-top: 50px;
}
.earnings_img{
	float: left;
}
.earnings_img p{
	text-align: center;
	font-size: 14px;
	font-weight: 800;
	color: #3ab3d5;
}
.earnings_text{
	text-indent: 20px;
	width: 480px;
	font-size: 14px;
	line-height: 25px;
	margin-left: 30px;
	color: #333333;
	float: left;
}
.earnings_text:hover{
	cursor: pointer;
	color: #3ab3d5;
}
/*参训人群*/
.person{
	overflow: hidden;
	margin-top: 20px;
}
.person_img{
	float: left;
}
.person_img p{
	text-align: center;
	font-size: 14px;
	font-weight: 800;
	color: #647abe;
}
.person_text{
	text-indent: 20px;
	width: 280px;
	height: 126px;
	font-size: 14px;
	line-height: 100px;
	margin-left: 30px;
	color: #333333;
	float: left;
}
.we_teamimg{
	float: left;
}
.person_text:hover{
	cursor: pointer;
	color: #647abe;
}

/*课程特色*/
.classes{
	overflow: hidden;
	margin-top: 20px;
}
.classes_img{
	float: left;
}
.classes_img p{
	text-align: center;
	font-size: 14px;
	font-weight: 800;
	color: #fc8d69;
}
.classes_text{
	text-indent: 20px;
	width: 480px;
	font-size: 14px;
	line-height: 25px;
	margin-left: 30px;
	color: #333333;
	float: left;
}
.classes_text:hover{
	cursor: pointer;
	color: #fc8d69;
}
/*课程介绍*/
.class_outline{
	width: 625px;
	margin-left: 20px;
	margin-top: 30px;
}
.outline_div{
	border-bottom:1px #47b8cc solid ;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
}
.outline_title{
	color: #47B8CC;
	font-size: 18px;
	font-weight: 700;
	float: left;
}

.out_titleBtn{
	width:  220px;
	height: 40px;
	margin-top: 8px;
	float: right;
	overflow: hidden;
}
.out_titleBtn>div{
	margin-left: 10px;
}
/*左边的按钮*/
.outline_listen{
	background: #5fc8da;
	color: white;
	width: 98px;
	height: 25px;
	border-radius:3px;
	box-shadow: 1px 2px  1px #0b525e;
	line-height: 25px;
	overflow: hidden;
	float: left;
}
.outline_listen:hover{
	cursor: pointer;
}

.outline_listen input:hover{
	cursor: pointer;
}
.outline_listen img{
	float: left;
	margin:7px 3px 0 5px;
}
.outline_listen input{
	display: inline-block;
	background: none;
	color: white;
	font-size: 12px;
	font-family: "微软雅黑";
	line-height: 25px;
}

/*右边的按钮*/
.outline_get{
	background: #ff934c;
	color: white;
	width: 98px;
	height: 25px;
	border-radius:3px;
	box-shadow: 1px 2px  1px #7f5539;
	line-height: 25px;
	overflow: hidden;
	float: left;
}
.outline_get:hover{
	cursor: pointer;
}

.outline_get input:hover{
	cursor: pointer;
}
.outline_get img{
	float: left;
	margin:7px 3px 0 5px;
}
.outline_get input{
	display: inline-block;
	background: none;
	color: white;
	font-size: 12px;
	font-family: "微软雅黑";
	line-height: 25px;
}


.outline_model{
	overflow: hidden;
}
/*块级内容的显示*/

.outline_model_title{
	overflow: hidden;
	margin-top: 25px;
	margin-right: 15px;
	border: 1px #a3dbe5 dashed;
	border-radius: 5px;
	width: 290px;
	height: 160px;
	float: left;
	margin-left: 5px;
}
.outline_model_text p{
	padding-right: 5px;
}
.outline_model_title:hover{
	box-shadow:-2px 0px 2px #E7E7E7,   /*左边阴影*/ 
                0px 0px 0px #E7E7E7,  /*上边阴影*/ 
                2px 0px 2px #E7E7E7,  /*右边阴影*/ 
                0px 3px 3px #E7E7E7; /*下边阴影*/ 
	/*box-shadow: 0px 0px 0px 5px red ;*/
}
.outline_model_title img{
	float: left;
}
.outline_model_title img{
	margin-left: 10px;
	margin-top: 3px;
}
.model_titleName{
	font-size: 14px;
	font-weight: 700;
	font-family: "微软雅黑";
	color: #47b8cc;
	margin-left: 10px;
	float: left;
	height: 25px;
	line-height: 25px;
	width: 240px;
	/*border: 1px red solid;*/
}
.outline_model_text{
	width: 100%;
}
.outline_model_text li{
	color: #47b8cc;
	margin-left: 15px;
	font-size: 12px;
	/*border: 1px red solid;*/
	list-style-type:square;
}
.model_text{
	color: #666666;
	font-size: 12px;
	line-height: 20px;
	margin-left: 25px;
	overflow: hidden;
	word-break: break-all;
}
.outline_model_title_last{
	margin-bottom: 10px;
}
.outline_model_title_last img{
	margin-left: 50px;
	margin-top: 10px;
}
/*反馈*/
.back_information_title{
	color: #47B8CC;
	font-size: 18px;
	font-weight: 700;
	height: 30px;
	line-height: 30px;
	margin-top: 30px;
	border-bottom:1px #47b8cc solid ;
}
.back_information_text{
	margin-top: 20px;
	/*border: 1px red solid;*/
}
.back_text_title{
	color: #333333;
	font-size: 14px;
	font-weight: 700;
	margin-top: 10px;
}
.back_text_text{
	font-size: 12px;
	color: #666666;
	margin-top: 5px;
	line-height:20px ;
	text-indent: 20px;
}


/*------------右边课程安排---------------*/
.classes_plan{
	/*border: 1px red solid;*/
}
.classes_plan img{
	margin-top: 60px;
	margin-left: 70px;
}
.classes_plan p{
	color: #47B8CC;
	font-size: 16px;
	font-weight: 700;
	margin-left: 20px;
	margin-top: 20px;
	overflow: hidden;
}
.classes_plan p span{
	color: #ff5918;
	font-weight: 700;
	font-size: 12px;
	margin-right: 20px;
	float: right;
}
.classes_plan table{
	/*border-collapse: collapse;*/
	width: 100%;
	border: 1px #d5d5d5 solid;
}
.first_title_text a{
	color: #666666;
	font-size: 16px;
	font-weight: 700;
}
.classes_plan table tr :first-child{
	width: 75px;
}
.classes_plan table tr :nth-child(2){
	width: 168px;
}
.classes_plan table tr :nth-child(3){
	width: 77px;
}

.classes_plan table tr{
	height: 30px;
}
.classes_plan table tr:nth-child(odd){
	background: #d2e6e9;
}
.classes_plan table td{
	font-size: 12px;
	text-align: center;
	border: 1px #d5d5d5 solid;
}
.classes_plan table td a{
	color: #666666;
	font-weight: 700;
	font-size: 12px;
}
.classes_plan table td a:hover{
	color:#ff5918;
	cursor: pointer;
}
/*分页*/
.page{
	overflow: hidden;
	margin-top: 30px;
}
.page ul{
	float: right;
	margin-right: 100px;
}
.page ul li{
	float: left;
	border: 1px #e7e7e7 solid;
	height: 27px;
	text-align: center;
	line-height: 27px;
	color: #666666;
	margin: 0 5px 0 5px;
}
.page ul li:hover{
	cursor: pointer;
}
.page_num{
	width:30px ;
}
.page_left,.page_right{
	width: 60px;
}
/*留言*/
.leaveword{
	margin-top: 20px;
	height: 300px;
}
.leaveword_btn{
	border-bottom: 1px #47b8cc solid;
	width: 100%;
	padding: 10px 0 10px 0;
}
.leaveword_btn button{
	margin-left: 13px;
	margin-right: 13px;
	color: #333333;
	font-size: 16px;
	background: none;
	width: 82px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 2px;
}
.leaveword_btn button:hover{
	cursor: pointer;
}
.leaveword_btn p{
	color: #ff5918;
	font-size: 14px;
	float: right;
	margin:5px 10px 0 0;
	font-weight: 700;
}
.leaveword_message{
	width:100%;
	margin-top: 45px;
	overflow: hidden;
}
.message_information{
	float: left;
}
.message_information p input{
	border: none;
	border-bottom: 1px #a5a5a5 solid;
	text-indent: 5px;
	color: #A5A5A5;
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: 600;
}
.message_information p{
	font-size: 14px;
	color: #A5A5A5;
	font-weight: 600;
	line-height: 40px;
	height: 40px;
	letter-spacing: 5px;
}
.message_information p:hover{
	font-size: 14px;
	color: #333333;
	font-weight: 700;
}
.message_information p span{
	color: red;
}
.part_num{
	float: right;
	margin-top: 10px;
	width: 280px;
	overflow: hidden;
}
.num_title{
	color: #666666;
	font-size: 14px;
	font-weight: 700;
}
.part_num textarea{
	width: 270px;
	height: 113px;
	margin-top: 10px;
	border: 1px #D5D5D5 solid;
}

.second_text{
	font-size: 12px;
	color: #666666;
	line-height: 30px;
	/*word-wrap: break-word;*/
	margin-top: 20px;
}
.second_btn{
	font-weight: 700;
	background-color: #47b8cc;
	border-radius: 3px;
	font-size: 14px;
	color: white;
	text-align: center;
	width: 75px;
	height:25px;
	line-height: 25px;
	float: right;
	margin-top: 20px;
	margin-bottom: 5px;
	margin:20px 5px 5px 0;
	box-shadow: 1px 2px  1px #0b525e;
}
.second_btn:hover{
	cursor: pointer;
}
.thrid_text{
	font-size: 12px;
	color: #666666;
	margin-top: 15px;
}
.thrid_btn{
	font-weight: 700;
	background-color: #47b8cc;
	border-radius: 3px;
	font-size: 14px;
	color: white;
	text-align: center;
	width: 75px;
	height:25px;
	line-height: 25px;
	float: right;
	margin:20px 5px 5px 0;
	box-shadow: 1px 2px  1px #0b525e;
}
