/*友情链接*/
*{
	padding: 0;
	margin: 0;
}
.friendly_link{
	width: 1000px;
	margin: 50px auto;
}
.link_title{
	width: 100%;
	font-size: 24px;
	color: #0098b3;
	font-weight: 700;
	font-family: "微软雅黑";
	margin-bottom: 15px;
}
.friendly_link ul{
	overflow: hidden;
	width: 100%;
}
.friendly_link  li{
	padding: 0 5px 0 5px;
	float: left;
	list-style: none;
}
.friendly_link  li a{
	text-align: left;
	font-size: 16px;
	color: #666666;
	font-family: "微软雅黑";
	text-decoration: none;
}
.friendly_link  li a:hover{
	color: #0098b3;
}
