ul,li,ol,body,dl,dt,dd,input,a,p,h1,h2,h3,h4,h5,h6,div,img,span,i,b,strong{margin:0;padding:0;}
html,body {
    width: 100%;
    height: 100%;
}
#muc{width: 35px;height: 35px;position: fixed;top:2%;right: 2%;border-radius: 50%;overflow: hidden;z-index: 9;}
#muc img{width:100%;}
.mussic{animation:rot 1s linear infinite;}
@keyframes rot{
    from{transform: rotate(0);}
    to{transform: rotate(360deg);}
}

.logo{ width: 31%; top: 5%; left: 8%;}
.page img{position: absolute;top:0;left: 0;}
.wrap{width: 100%;height: 100%;position: absolute;}
.page{width: 100%;height: 100%;position: absolute;}
.page .img3{width: 40px;position: absolute;left: 50%;top:85%;margin-left: -20px;}

.page-1-1{width: 100%;height: 100%;background: url("../img/ha01.png") no-repeat center top;background-size: cover;}
.page-1-1 .img1{ width: 73%; top: 18%; left: 13%;}
.page-1-1 .img2{ width: 63%; top: 21%; left: 19%;}
.page-1-1 .img3{ width: 8%; top: 28%; left: 88%;}
.page-1-1 .img4{ width: 94%; top: 69%;  left: 3%;}

.page-2-1{width: 100%;height: 100%;background: url("../img/hb01.png") no-repeat center top;background-size: cover;}
.page-2-1 .img1{ width: 100%; top: 5%;}
.page-2-1 .img2{ width: 47%; top: 19%; left: 25%;}
.page-2-1 .img3{ width: 91%; top: 56%; left: 9%;}

.page-3-1{width: 100%;height: 100%;background: url("../img/hb01.png") no-repeat center top;background-size: cover;}
.page-3-1 .logo{ width: 31%; top: 5%; left: 8%;}
.page-3-1 .img1{ width: 82%; top: 22%; left: 9%;}
.page-3-1 .img2{ width: 82%; top: 50%; left: 9%;}

.page-4-1{width: 100%;height: 100%;background: url("../img/hd01.png") no-repeat center top;background-size: cover;}
.page-4-1 .img1{ width: 35%; top: 19%; left: 12%;}
.page-4-1 .img2{ width: 25%; top: 17%; left: 59%;}
.page-4-1 .img3{ width: 35%; top: 35%; left: 17%;}
.page-4-1 .img4{ width: 25%; top: 34%; left: 58%;}
.page-4-1 .img5{ width: 78%; top: 33%; left: 9%; z-index: 5;}
.page-4-1 .img6{ height: 34%; top: 15%; left: 51%;}
.page-4-1 .img7{  width: 81%; top: 58%; left: 9%;}
.page-4-1 .img8{  width: 42%; top: 70%; left: 9%;}


.page-5-1{width: 100%;height: 100%;background: url("../img/hb01.png") no-repeat center top;background-size: cover;}
.page-5-1 .logo{ width: 31%; top: 5%; left: 8%;}
.page-5-1 .img1{ width: 81%; top: 62%; left: 9%;}
.page-5-1 .img2{ width: 56%; top: 22%; left: 20%;}


.page-6-1{width: 100%;height: 100%;background: url("../img/hb01.png") no-repeat center top;background-size: cover;}
.page-6-1 .logo{ width: 31%; top: 5%; left: 8%;}
.page-6-1 .img1{ width: 100%; top: 65%;}
.page-6-1 .img2{ width: 84%; top: 30%; left: 8%;}
.page-6-1 .img3{ width: 45%; top: 20%; left: 35%;}

.page-7-1{width: 100%;height: 100%;background: url("../img/hb01.png") no-repeat center top;background-size: cover;}
.page-7-1 .logo{ width: 31%; top: 5%; left: 8%;}
.page-7-1 .img1{ width: 79%; top: 18%; left: 10%; z-index: 2;}
.page-7-1 .img2{ width: 75%; top: 37%; left: 12%; z-index: 3;}

.page-8-1{width: 100%;height: 100%;background: url("../img/hb01.png") no-repeat center top;background-size: cover;}
.page-8-1 .logo{ width: 31%; top: 5%; left: 8%;}
.page-8-1 .img1{ width: 79%; top: 18%; left: 10%;z-index: 2;}
.page-8-1 .img2{ width: 75%; top: 37%; left: 12%;z-index: 3;}



.page-9-1{width: 100%;height: 100%;background: url("../img/hb01.png") no-repeat center top;background-size: cover;}
.page-9-1 .logo{ width: 31%; top: 5%; left: 8%;}
.page-9-1 .img1{ width: 53%; top: 16%; left: 34%;}
.page-9-1 .img2{ width: 57%; top: 71%; left: 36%;}
.page-9-1 .img3{ width: 27%; top: 71%; left: 11%;}

.page-10-1{width: 100%;height: 100%;background: url("../img/hb01.png") no-repeat center top;background-size: cover;}
.page-10-1 .logo{ width: 31%; top: 5%; left: 8%;}
.page-10-1 .img1{ width: 70%; left: 13%; top: 22%;z-index: 3;}
.page-10-1 .img2{ width: 68%; left: 14.3%; top: 35.2%;z-index: 2;}

.page-11-1{width: 100%;height: 100%;background: url("../img/hb01.png") no-repeat center top;background-size: cover;}
.page-11-1 .logo{ width: 31%; top: 5%; left: 8%;}
.page-11-1 .img1{ width: 70%; left: 13%; top: 22%;z-index: 3;}
.page-11-1 .img2{ width: 68%; left: 14.3%; top: 35.2%;z-index: 2;}

.page-12-1{width: 100%;height: 100%;background: url("../img/hd01.png") no-repeat center top;background-size: cover;}
.page-12-1 .img1{ width: 100%;}
.page-12-1 .img2{ width: 78%; top: 30%; left:11%; }
.page-12-1 .img3{ width: 78%; top: 49%; left:16.5%;}

.hide{display: none;}