.firstTr{
	background: #E5E5E5;
	height: 30px;
	width: 100%;
	line-height: 30px;
	color: #0098B3;
}
.lastTr{
	color: #323232;
}
table{
	text-indent: 10px;
	font-size: 14px;
	width: 100%;
	border-collapse: collapse;
	margin-top: 30px ;
	width: 100%;
}
table tr{
	line-height: 30px;
}
.score{
	margin-top: 30px;
	border: 1px #CCCCCC solid;
	padding: 10px 10px 30px 10px;
}
.scoreStar{
	line-height: 50px;
	line-height: 50px;
}
.scoreContent{
	overflow: hidden;
}
.scoreContent p{
	float: left;
}
.scoreContent p span{
	color: #666666;
	font-size: 12px;
}
.scoreContent textarea{
	float: left;
	margin-top: 5px;
	width: 580px;
	height: 200px;
	font-size: 16px;
	line-height: 25px;
	border: 1px #CCCCCC solid;
	resize: none;
	border-radius: 5px;
}
.textOne{
	color: #0d0d0d;
	font-size: 26px;
}
.score-finish-text :nth-child(2){
	color: #666666;
	font-size: 14px;
}
.score-finish-text p{
	line-height: 30px;
}
.score-finish-text p a{
	color: #0098b3;
	text-decoration: none;
}
.score-finish-text :last-child{
	font-size: 14px;
}
.score-finish{
	overflow: hidden;
	margin-top: 50px;
}
.score-finish-text{
	float: left;
	width: 400px;
	margin-left: 100px;
}
.score-finish-btn{
	float: right;
}
.score-finish-btn button{
	color: white;
	font-size: 18px;
	width: 110px;
	height: 35px;
	border-radius: 5px;
	background: #F55E5E;
	border: 0;
	margin-top: 10px;
	box-shadow: 1px 1px 1px #a93838;
}
