/*团队优势*/
.team_advantage{
}
.team_advantage_title{
	width: 132px;
	height: 40px;
	background: #47b8cc;
	overflow: hidden;
}
.team_advantage_title img{
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 5px;
}
.team_advantage_title span{
	color: white;
	font-size: 18px;
	font-weight: 800;
	line-height: 40px;
}
.team_advantage_text{
	overflow: hidden;
}
.team_advantage_text .text_left{
	float: left;
	padding: 10px;
	width: 400px;
	margin-top: 20px;
}
.team_advantage_text .text_left p{
	font-size: 14px;
	color: #323232;
	line-height: 25px;
	text-indent: 30px;
}
.team_advantage_text .text_right{
	float: right;
	margin-right: 10px;
}
/*团队理念*/
.team_idea{
}
.team_idea_title{
	width: 132px;
	height: 40px;
	background: #47b8cc;
	overflow: hidden;
}
.team_idea_title img{
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 5px;
}
.team_idea_title span{
	color: white;
	font-size: 18px;
	font-weight: 800;
	line-height: 40px;
}
.team_idea_text{
	overflow: hidden;
	margin-top: 20px;
}
.team_idea_text .text_left{
	float:left;
	margin-right: 10px;
}
.team_idea_text .text_right p{
	font-size: 14px;
	color: #323232;
	line-height: 25px;
	text-indent: 30px;
}
.team_idea_text .text_right{
	float: right;
	padding: 10px;
	width: 400px;
	margin-top: 20px;
}
/*专家甄选*/
.team_expert{
}
.team_expert_title{
	width: 132px;
	height: 40px;
	background: #47b8cc;
	overflow: hidden;
}
.team_expert_title img{
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 5px;
}
.team_expert_title span{
	color: white;
	font-size: 18px;
	font-weight: 800;
	line-height: 40px;
}
.team_expert_text{
	overflow: hidden;
}
.team_expert_text .text_left{
	float: left;
	padding: 10px;
	width: 400px;
	margin-top: 20px;
}
.team_expert_text .text_left p{
	font-size: 14px;
	color: #323232;
	line-height: 25px;
	text-indent: 30px;
}
.team_expert .text_right{
	float: right;
	margin-right: 10px;
}
/*扁鹊专家介绍*/
.expert_introduce{
	overflow: hidden;
	margin-top: 30px;
}
.expert_introduce_title{
	color:#0098b3;
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
	border-bottom: 2px #0098b3 solid;
}
.weekend_teacher{
	border: 3px #0098b3 solid;
	overflow: hidden;
	margin-top: 30px;
}
.teacher_img{
	width: 168px;
	height: 220px;
	border:2px #0098b3 solid;
	float: left;
}
.teacher_img p{
	position: relative;
	top: -50px;
	background:rgba(0,169,248,0.4);
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: white;
	width: 168px;
}
.teacher_text_introduce{
	float: left;
	margin-top: 20px;
	padding: 15px;
	width: 300px;
	border-right: 2px #C9C9C9 dashed;
}
.teacher_text_introduce_title{
	color: #0098b3;
	font-size: 20px;
	font-weight: 700;
}
.teacher_name{
	color: #585858;
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	text-indent: 20px;
}
.teacher_text{
	color: #666666;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
}
.eg_traders{
	float: left;
	margin-top: 20px;
	padding: 15px;
}
.eg_traders_text{
	margin-bottom: 30px;
}
/*专家介绍详情*/
.teachers_introduce{
	overflow: hidden;
}
.teachers_specific{
	margin-top: 30px;
	width: 310px;
	float: left;
	margin-left: 7px;
	margin-right: 8px;
}
.teachers_specific_img{
	border-radius: 50%;
	width: 125px;
	height: 125px;
	float: left;
}
.teachers_specific_leftText{
	float: left;
	padding: 0px;
	margin-left: 10px;
}
.leftText_title{
	color: #555555;
	font-size: 14px;
	margin-top: 20px;
}
.leftText_title span{
	color: #0098b3;
	font-size: 18px;
	margin-right: 10px;
	font-weight: 700;
}
.leftText_textNew{
	margin-top: 20px;
	width: 170px;
	height: 60px;
	overflow: hidden;
	font-size: 14px;
	color: #666666;
}
/*.leftText_text span{*/
	/*display: block;*/
	/*text-overflow: ellipsis;*/
	/*overflow: hidden;*/
	/*white-space: nowrap;*/
/*}*/
.teachers_specific_bottomText{
	margin-top: 10px;
}
.teachers_specific_bottomText p{
	color: #0098b3;
	font-size: 14px;
	padding: 10px;
}
.teachers_specific_bottomText p :nth-child(1){
	color: #0098b3;
	font-size: 14px;
	font-weight: 700;
}
.teachers_specific_bottomText p a{
	color: #F55E5E;
}
/*页数*/
.page{
	overflow: hidden;
	margin-top: 50px;
}
.page ul{
	float: right;
	margin-right: 100px;
}
.page ul li{
	float: left;
	border: 1px #e7e7e7 solid;
	height: 27px;
	text-align: center;
	line-height: 27px;
	color: #666666;
	margin: 0 5px 0 5px;
}
.page ul li:hover{
	cursor: pointer;
}
.page_num{
	width:30px ;
}
.page_left,.page_right{
	width: 60px;
}
/*专家现场授课*/
.expert_teach{
	margin: 50px 0 50px 0;
}
.expert_teach_title{
	color: #0098B3;
	font-size: 20px;
	font-weight: 700;
	height: 30px;
	line-height: 30px;
	border-bottom: 2px #0098B3 solid;
}
.expert_teach_text{
	overflow: hidden;
	margin-top: 20px;
}
.expert_teach_text img{
	width: 213px;
	height: 137px;
	float: left;
	margin: 5px 0 5px 5px ;
}

.weekend_teacher{
	border: 1px #0098b3 solid;
	overflow: hidden;
	margin-top: 30px;
}

.teacher_button{
	border-radius: 5px;
	box-shadow: 1px 1px 1px #015a6a;
	display: block;
	float: right;
	text-decoration: none;
	width: 65px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: white;
	background: #0098B3;
}
/*预约弹窗*/
.confirmText{
    width: 620px;
    height: 277px;
    margin-top: 15px;
    margin-bottom: 10px;
    z-index: 101;
    border: 1px #cccccc solid;
    border-radius: 5px;
    display: none;
    background:#f5f5f5;
    overflow: hidden;
}
.confirmText>img{
    margin-top: 10px;
    margin-left: 580px;
    cursor: pointer;
}
.confirmTextMain{
    overflow: hidden;
    width: 500px;
    margin: 30px auto;
}
.confirmTextImg{
    border-radius: 50%;
    width: 68px;
    height: 68px;
    border: 3px #55bdcf solid;
    overflow: hidden;
    float: left;
}
.confirmTextText{
    width: 350px;
    margin-left:20px;
    float: left;
    /*padding-top: 30px;*/
}
.confirmTextText p{
    line-height: 25px;
}
.confirmTextText p a{
    font-size: 12px;
    color: #F55E5E;
    margin: 0px 10px 0 10px;
}
.confirmTextText{
    text-align: center;
}
.confirmTextImg img{
    margin-left: 5px;
}
.confirmTextText :nth-child(1){
    color: #189dbb;
    font-size: 30px;
    width: 100%;
    margin: 0 auto;
    line-height: 40px;
}
.confirmTextText :nth-child(2){
    color: #666666;
    font-size: 12px;
    width: 70%;
    margin:0 auto ;
}