/*选项卡部分*/
.TAB_all{
	border-bottom: 1px #aaaaaa solid;
}
/*选项卡*/
.diagnostic_TAB{
	width: 625px;
	height: 72px;
	border: 1px #d5d5d5 solid;
	overflow: hidden;
}
.TAB_num{
	width: 125px;
	float: left;
}
.TAB_num div{
	width: 35px;
	height: 35px;
	border-radius: 3px;
	margin: 0 auto;
	margin-top: 10px;
	border: 2px #0098b3 solid;
}
.TAB_num i{
	/*color: #7fcbd9;*/
	margin-left: 2px;
	font-size: 30px;
	line-height: 35px;
}
.TAB_num p{
	font-size: 14px;
	/*color: #0098b3;*/
	line-height: 17px;
	text-align: center;
	margin:5px 0 5px 0;
}
/*选项卡内容*/
.part_number{
	/*border: 1px red solid;*/
	height: 235px;
	overflow: hidden;
	display: none;
}
.part_number_left{
	float: left;
	margin: 20px;
	width: 200px;
	height: 200px;
}
.part_number_left img{
	width: 100%;
	height: 100%;
}
.part_number_right{
	float: left;
	margin: 25px 10px 0 10px;
}
.part_num_title{
	font-size: 20px;
	font-weight: 700;
	color:#555555 ;
}
.part_num_title span{
	color: #0098b3;
	font-size: 18px;
	font-weight: 700;
	margin-left: 10px;
}
.part_num_text{
	color: #666666;
	width: 370px;
	font-size: 16px;
	line-height: 30px;
	margin-top: 10px;
}
/*确定预约按钮*/
.confirm_button{
	overflow: hidden;
	height: 40px;
	margin: 10px 0 30px 0;
}
.confirm_button button{
	width: 100px;
	height: 35px;
	line-height: 35px;
	font-size: 18px;
	border-radius: 5px;
	background: #4cbbcf;
	border: none;
	color: white;
	float: right;
	margin-right: 5px;
	box-shadow: 1px 1px 2px #265c66;
}
/*扁鹊服务*/
.bianque_service{
	margin-top: 30px;
	padding-bottom: 50px;
	border-bottom: 1px #AAAAAA solid;
}
.service_title{
	background:#4cbbcf ;
	width: 133px;
	height: 33px;
	text-align: center;
	line-height: 33px;
	color: white;
	font-size: 18px;
	font-weight: 700;
	float: left;
	overflow: hidden;
}
.service_title img{
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}
.bianque_service div{
	overflow: hidden;
}
.bianque_service div span{
	display: block;
	float: left;
	margin-top: 8px;
	font-size: 18px;
	margin-left: 10px;
	color: #555555;
	font-weight: 700;
}
.service_text{
	color: #666666;
	font-size: 14px;
	text-indent: 30px;
	line-height: 30px;
	margin-top: 20px;
}
/*课程推荐*/
.classes_recommend{
	margin-top: 30px;
	padding-bottom: 50px;
}
.classes_recommend_title{
	background:#4cbbcf ;
	width: 133px;
	height: 33px;
	text-align: center;
	line-height: 33px;
	color: white;
	font-size: 18px;
	font-weight: 700;
	float: left;
	overflow: hidden;
}
.classes_recommend_title img{
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}
.classes_recommend>div{
	overflow: hidden;
}
.video_show_part{
	width: 120px;
	height: 168px;
	border: 2px #efefef solid;
	float: left;
	margin-right:7px;

}
.video_show_part:hover{
	box-shadow: 0px 2px 1px #707070;
	cursor: pointer;
}
.video_show{
	margin-top: 30px;
	overflow: hidden;
	padding-bottom:10px ;
}
.first_model{
	overflow: hidden;
}
.first_model p{
	width: 30px;
	height: 30px;
	text-align: center;
	float: left;
}
.first_model p span{
	width: 25px;
	height: 13px;
	color: white;
	font-size: 10px;
	margin-top: 5px;
	line-height: 13px;
	text-align: center;
	background: #0098b3;
}

.first_model>span{
	width: 80px;
	display:block;
	float: left;
	color: #333333;
	font-size: 10px;
	line-height: 15px;
}
.second_mode {
	overflow: hidden;
}
.second_mode span{
	color: #333333;
}
.second_model :first-child{
	float: left;
	margin-top: 8px;
	margin-right: 5px;
	margin-left: 7px;
}
.second_model :last-child{
	float: right;
	margin-top: 8px;
	margin-right: 10px;
}
.star_collect:hover{
	cursor: pointer;
}
/*友情链接*/
.friendly_link{
	width: 1000px;
	margin: 20px auto;
}
.link_title{
	width: 100%;
	font-size: 24px;
	color: #0098b3;
	font-family: "微软雅黑";
}
.friendly_link ul{
	overflow: hidden;
}
.friendly_link  li{
	padding: 0 5px 0 5px;
	float: left;
	list-style: none;	
}
.friendly_link  li a{
	font-size: 16px;
	color: #666666;
	font-family: "微软雅黑";
	text-decoration: none;
}
.friendly_link  li a:hover{
	color: #0098b3;
}


