*{
    padding: 0;
    margin: 0;
}
ul ,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.sh_box{
    width: 100%;
    height: auto;
    position: relative;
}
.sh_box h3{
    width: 1200px;
    margin: 40px auto 10px;
}
.sh_box .detail{
    position: relative;
    width: 1200px;
    margin:0 auto;
    background: #E4E4E4;
    overflow: hidden;
}
.sh_box .detail ul{
    overflow: hidden;
}
.sh_box .detail li{
    float: left;
    width: 30%;
    margin: 5px;
    line-height: 24px;
    padding-left: 10px;
}
.li_xx1{
    display: block; float:left; width:100px;
}
.li_xx2{
   display: block; float:left; width: 260px;
 }
.hk_detail{
    margin: 20px auto;
    background: #ffffff;
}
.hk_detail td{
    width: 180px;
    padding: 5px 8px;
    text-align: center;
}
.detail h4{
    width: 1200px;
    margin: 10px 10px 10px 10px;
}
.pic_img{
    display: block;
    width: 400px;
    /*height: 200px;*/
    float: left;
    position: relative;
}
.pic_img .pic_img_box
{
    display: block;
    position: relative;
    margin: 20px;
    width: 360px;
    height: 230px;
    background: #ffffff;
}
.pic_img img{
    /*display: block;*/
    /*position: absolute;*/
    text-align: center;
    width: 100px;
}
.sh_box .pic_detail{
    width: 1200px;
    margin:0 auto;
    background: #E4E4E4;
    overflow: hidden;
}
.sh_box .pic_detail ul{
    margin-top: 20px;
    overflow: hidden;
}
.sh_box .pic_detail li{
    display: block;
    width: 40%;
    padding-left: 10px;
    float: left;
    margin: 10px 0;
}
.sh_box .pic_detail li.info_edit {
    width: 150px;
    background: #888888;

    text-align: center;
    padding: 10px 0;
    border: 1px solid #888888;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.sh_box .pic_detail li.info_edit a{
    display: block;
    width: 100%;
    color: #ffffff;
}
.fj-detail{
    padding: 20px 15px;
    position: relative;
}
.fj-detail .fj{
    /*width: 400px;*/
    margin-left: 40px;
    margin-right: 40px;
    padding: 5px 15px;
    display: block;
    float: left;
    border:1px solid #080808;
    border-radius: 30px;
    color: #000000;
    font-weight: bold;
}
a.fj_lixian{
    display: block;
    width: 100%;
    float: left;
    padding-top: 25px;
    margin-left: 50px;
}
.dl_detail{
    width: 1200px;
    margin:0 auto;
    background: #E4E4E4;
    overflow: hidden;
}
.dl_box{
    margin: 10px;
    width: 500px;
    float: left;
    line-height: 25px;
}
.dl_img{
    float: left;
    width: 400px;
    margin: 20px 0;
}
.dl_img img{
    display: block;
    width: 300px;
}
.bz_box{
    width:48%;
    height:auto;
    float: left;
    padding: 10px;
    position: relative;
}
.bz_save{
    width: 100px;
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
    padding: 5px 10px;
    border: 1px solid #A2A2A2;
    border-radius: 3px;
    background: #f5f5f5;
}
.bz_lists{
    width: 400px;
    height: 150px;
    background: #ffffff;
    overflow: scroll;
    border: 1px solid #888;
}
.tel_xx{
    display: block;
    float: left;
    border:1px solid #696969;
    margin-top: 4px;
    margin-right: 10px;
    padding: 5px 5px;
    border-radius: 8px;
    color: #000;
}
.fk_tr{
    position: absolute;
    right: 215px;
    bottom: -15px;
    background: #ffffff;
    padding: 5px 50px;
    border:1px solid #888;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.ret{
    display: inline-block;
    width: 30%;
    padding: 10px 4px;
    text-align: center;
    border:1px solid #C1C1C1;
}
.sh_result{
    width: 80%;
    margin: 0 auto;
}
.sh_result .active{
    background: #ffffff;
    color: #000;
}
.result_box{
    background: #ffffff;
    width:100%;
    margin: 0 auto;
    height: 200px;
    padding:5px 0;
}
#result_box ul li{
    display: block;
    width: 100%;
    margin: 0;
}
.set_lilv{
    position: absolute;
    right: 110px;
    top: 10px;
}